{{! the loop }}

{{#foreach posts}}
<div class="row">
	<div class="twelve columns">
		<article class="{{post_class}}">
			<header class="nttld--post-header">
				<h1 class="nttld--post-title" title="{{title}}">
					<a href="{{url}}">{{{title}}}</a>
				</h1>
			</header>
			<section class="nttld--post-excerpt">
				<p>{{excerpt words="32"}} <a href="{{url}}" class="nttld--read-more" title="Read more.."><i class="fa fa-angle-double-right"></i></a></p>
			</section>
			<footer class="nttld--post-meta nttld--meta-text">
				<i class="fa fa-user"></i> {{#author}}<a href="{{url}}" title="See all posts from {{name}}">{{name}}</a>{{/author}} &nbsp;&nbsp; <i class="fa fa-calendar"></i> <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
			</footer>
		</article>
	</div>
</div>
<hr class="post">
{{/foreach}}

{{! pagination partial }}
{{pagination}}