<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		
		<title>{{meta_title}}</title>
		<meta name="description" content="{{meta_description}}">

        <meta name="viewport" content="width=device-width, initial-scale=1">

		{{! skeleton styles }}
        <link rel="stylesheet" href="../bower_components/skeleton/css/normalize.css">
        <link rel="stylesheet" href="../bower_components/skeleton/css/skeleton.css">
        
		{{! theme styles }}
        <link rel="stylesheet" href="{{asset "styles/css/main.css"}}">

        {{! theme fonts from google webfonts and fontawesome }}
        {{> "webfonts"}}
		
		{{! make theme header hookable }}
        {{ghost_head}}
	</head>
	
	<body class="{{body_class}}">
	
		{{! site wrapper }}
		<div id="main-wrapper">
			
			{{! site navigation holder }}
	        {{navigation}}

			{{! inject post/page specific content here }}
			{{{body}}}

			{{! theme footer }}
			{{> "footer" }}

		</div>
	
		{{! make theme footer hookable }}
		{{ghost_foot}}
		
		{{! theme scripts }}
		<script src="{{asset "scripts/main.js"}}"></script>

		<!-- remove@production -->
		<script src="//localhost:35729/livereload.js"></script>
		<!-- endremove@production -->

	</body>
</html>