{{!< default}}

{{! index page header }}
{{^is "paged"}}
<header class="u-full-width home-header">
	{{#if @blog.cover}}
	<div class="cover-holder">
		<img src="{{@blog.cover}}" alt="{{@blog.title}}">
	</div>
	{{else}}
	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<span class="cover-holder-iconed">
					<i class="fa fa-home" title="{{title}}"></i>
				</span>
			</div>
		</div>
	</div>
	{{/if}}
</header>
{{else}}
<header class="u-full-width home-header">
	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<span class="cover-holder-iconed">
					<i class="fa fa-home" title="{{title}}"></i>
					<span class="pagination-helper-top home-helper">/ page {{pagination.page}} of {{pagination.pages}}</span>
				</span>
			</div>
		</div>
	</div>
</header>
{{/is}}

{{! index page content }}
<main class="u-full-width template-content" role="main">
	<div class="container">
		
		{{! loop over blog posts (rows comes from the loop) }}
		{{> "loop" }}
		
	</div>
</main>