{{!< default}}

{{! single post layout }}
{{#post}}
<header class="site-section">
	{{! post header }}
	{{#if image}}
	<div class="cover-holder">
        <img src="{{image}}" alt="{{title}}" title="{{title}}" class="u-full-width">
	</div>
	{{else}}
	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<span class="no-cover-placeholder">
					<!-- <i class="fa fa-chevron-down" title="{{title}}"></i> -->
					<!-- <i class="fa fa-paper-plane" title="{{title}}"></i> -->
					<!-- <i class="fa fa-angle-down" title="{{title}}"></i> -->
					<i class="fa fa-asterisk" title="{{title}}"></i>
				</span>
			</div>
		</div>
	</div>
	{{/if}}
</header>

<main class="site-section post-content" role="main">
	{{! post content }}
	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<article class="{{post_class}}">
					<header class="post-header">
						<h1>{{title}}</h1>
		                <span class="post-date">
		                	<i class="fa fa-calendar"></i>
		                	<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
		                </span>
		                {{#if tags}}
		                &nbsp;
		                <span class="post-tags">
		                	<i class="fa fa-tags"></i>
		                	{{tags}}
		                </span>
		                {{/if}}
					</header>
					<section class="post-content">
						{{content}}
					</section>
					<hr>
					<div class="post-share">
						<h5>Share this post</h5>
						<div>
							li, fb, tw
						</div>
					</div>	
					<hr>	
					<footer class="post-footer">
						{{author}}
					</footer>
					<hr>	
				</article>
			</div>
		</div>
	</div>
</main>
{{/post}}