{{!< default}}

{{! tag header }}
<div class="u-full-width">
	{{^is "paged"}}
	{{#if tag.image}}
	<div class="u-full-width">
		<div class="cover-holder">
			<img src="{{tag.image}}" alt="{{tag.image}}">
		</div>
	</div>
	{{/if}}
	{{/is}}
	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<section class="tag-info info-box">
					{{#tag}}
					<div class="info-box-type-icon">
						<i class="fa fa-tag fa-5x" title="{{name}}"></i>
					</div>
					<h3>{{name}}</h3>
					<span class="tag-meta meta-text">
						<i class="fa fa-link"></i>&nbsp;<a href="{{url}}">{{name}}</a>
					</span>
					{{#if description}}
					<p>{{description}}</p>
					{{/if}}
					{{/tag}}
					<span class="tag-meta meta-text">
						<i class="fa fa-file-text-o"></i> {{plural pagination.total empty='No posts' singular='% post' plural='% posts'}}
					</span>
				</section>
			</div>
		</div>
	</div>
</div>

<hr class="tag">

{{! pagination helper tag }}
{{#is "paged"}}
<div class="u-full-width">
	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<span class="pagination-helper-top u-pull-right">
					<i class="fa fa-tag"></i> <small>/ page {{pagination.page}} of {{pagination.pages}}</small>
				</span>
			</div>
		</div>
	</div>
</div>
{{/is}}

{{! index page content }}
<main class="u-full-width" role="main">
	<div class="container">
		
		{{! loop over blog posts (rows comes from the loop) }}
		{{> "loop" }}
		
	</div>
</main>