{{!< default}}

{{! tag layout }}
<header class="u-full-width nttld--content-header">
	
	{{! tag header }}
	{{#if tag.image}}
	<div class="nttld--cover-holder" style="background-image: url({{tag.image}})">&nbsp;</div>
	{{/if}}
	<div class="nttld--cover-info centered {{^if tag.image}}nttld--no-cover{{/if}}">
		<div class="container">
			<div class="row">
				<div class="twelve columns">
					<span>
						<i class="fa fa-tag" title="{{tag.title}}"></i>
						{{#is "paged"}}
						<span class="nttld--pagination-helper">
							<i class="fa fa-caret-right"></i> page {{pagination.page}} of {{pagination.pages}}
						</span>
						{{/is}}
					</span>
				</div>
			</div>
			<hr class="quiet engraved">
			<div class="row">
				<div class="twelve columns">
					<div class="nttld--tag-meta nttld--meta-text">
						{{#if tag.image}}
						<h6 class="u-cf"><span class="chip">{{tag.name}}</span></h6>
						{{else}}
						<h5 class="u-cf"><span class="chip">{{tag.name}}</span></h5>
						{{/if}}
						{{#if tag.description}}
						<p class="nttld--tag-meta-description">
							<small>{{tag.description}}</small>
						</p>
						{{/if}}
						<p>
							<small><i class="fa fa-link"></i>&nbsp;&nbsp;<a href="{{tag.url}}">{{tag.name}}</a></small>
						</p>
						<p>
							<small><span><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;{{plural pagination.total empty='No posts' singular='% post' plural='% posts'}}</span></small>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</header>


{{! tag page content }}
<main class="u-full-width" role="main">
	<div class="container">
		
		{{! loop over tag posts (.rows comes from the loop) }}
		{{> "loop" }}
		
	</div>
</main>
